  html, body
  {
    height: 100%;
  }
  
  body
  {
    margin: 0px;
    padding: 0px;
    /*background: #121212;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    
  }
  
  
  h1, h2, h3
  {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #404040;
  }
  
  p, ol, ul
  {
    margin-top: 0;
  }
  
  ol, ul
  {
    padding: 0;
    list-style: none;
  }
  
  p
  {
    line-height: 180%;
  }
  
  a
  {
    color: #AD103C;
  }
  
  a:hover
  {
    text-decoration: none;
  }
  

  .container
  {
    margin: 0px auto;
    width: 1200px;
  }
  
  .image
  {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
  }
  
  .image img
  {
    display: block;
    width: 100%;
  }
  
  .image-full
  {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
  }
  
  .image-left
  {
    float: left;
    margin: 0 2em 2em 0;
  }
  
  .image-centered
  {
    display: block;
    margin: 0 0 2em 0;
  }
  
  .image-centered img
  {
    margin: 0 auto;
    width: auto;
  }
  
  
  .title
  {
    margin-bottom: 3em;
  }
  
  .title h2
  {
    font-size: 2.8em;
  }

  #header-wrapper
  {
    overflow: hidden;
    padding: 2em 0em 0em 0em;
  }

  #header
  {
  }

  #menu-wrapper
  {
    background: #white;
  }

  #menu
  {
  }
  
  #menu ul
  {
    display: inline-block;
    margin: 0;
    padding: 0em 0em;
    text-align: center;
  }
  
  #menu li
  {
    display: inline-block;
  }
  
  #menu li a, #menu li span
  {
    display: inline-block;
    padding: 2em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: white;
  }
  
  #menu li:hover a, #menu li.active a, #menu li.active span
  {
  }
  
  #menu .current_page_item a
  {
    color: white;
  }
  

  #banner
  {
    overflow: hidden;
    padding: 20em 0em;
    background: url(https://images.unsplash.com/photo-1554743807-976e8b16ac88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80) no-repeat center;
    background-size: cover;
  }

  .wrapper
  {
    overflow: hidden;
    padding: 0em 0em 5em 0em;
    background: #FFF;
  }

  #wrapper1
  {
    background: #FFF;
  }

  #wrapper2
  {
    overflow: hidden;
    background: #F3F3F3;
    padding: 5em 0em;
  }


  #page-wrapper
  {
    overflow: hidden;
    background: #F3F3F3;
    padding: 5em 0em;
  }

  #content
  {
    float: left;
    width: 700px;
    padding-right: 100px;
    border-right: 1px solid rgba(0,0,0,.1);
  }

  #detail
  {
  }
  
  #detail .box
  {
    color: rgba(0,0,0,0.5);
  }
  
  #detail h3
  {
    display: block;
    padding-bottom: 1em;
    font-size: 1em;
    color: rgba(0,0,0,0.6);
  }

  #detail .title
  {
  }

  #detail .title h2
  {
    color: rgba(0,0,0,0.8);
  }

  .column1,
  .column2,
  .column3,
  .column4
  {
    width: 282px;
  }
  
  .column1,
  .column2,
  .column3
  {
    float: left;
    margin-right: 24px;
  }
  
  .column4
  {
    float: right;
  } 
  
  ul.tools
  {
    margin: 0;
    padding: 0em 0em 0em 0em;
    list-style: none;
  }
  
  ul.tools li
  {
    display: inline-block;
    padding: 0em .2em;
    font-size: 4em;
  }
  
  ul.tools li span
  {
    display: none;
    margin: 0;
    padding: 0;
  }
  
  ul.tools li a
  {
    color: #FFF;
  }
  
  ul.tools li a:before
  {
    display: inline-block;
    background: #1ABC9C;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    color: #FFFFFF;
  }
  .MyInformation h2{

    color: black;
    font-family: 'Uncial Antiqua', cursive;
  }
  
